@tailwind base;
@tailwind components;
@tailwind utilities;
 

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}

.text-backdrop {
  backdrop-filter: blur(10px) saturate(70%);
}